<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cartoon Characters.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>296B8CAE1F6ABCC1003DF961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>296B8CCA1F6ABCC1003DF961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>296B8CD51F6ABCC2003DF961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
